.cargo/
*.pdb
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
.flatpak-builder/
flatpak-build-dir/
generated-sources.json
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source
build-aux/